USE [master]
GO
/****** Object:  Database [TaskManagerDB]    Script Date: 5/19/2019 6:26:13 PM ******/
CREATE DATABASE [TaskManagerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.RAJIBPC\MSSQL\DATA\TaskManagerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.RAJIBPC\MSSQL\DATA\TaskManagerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagerDB]
GO
USE [TaskManagerDB]
GO
/****** Object:  Table [dbo].[ParentTaskTab]    Script Date: 5/19/2019 6:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentTaskTab](
	[Parent_ID] [int] IDENTITY(1,1) NOT NULL,
	[Parent_Task] [varchar](5000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Parent_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTab]    Script Date: 5/19/2019 6:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTab](
	[Task_ID] [int] IDENTITY(1,1) NOT NULL,
	[Parent_ID] [int] NULL,
	[Task] [varchar](5000) NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Priority] [int] NULL,
	[IsClosed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Task_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ParentTaskTab] ON 
GO
INSERT [dbo].[ParentTaskTab] ([Parent_ID], [Parent_Task]) VALUES (1, N'ABC')
GO
INSERT [dbo].[ParentTaskTab] ([Parent_ID], [Parent_Task]) VALUES (2, N'ABCD')
GO
INSERT [dbo].[ParentTaskTab] ([Parent_ID], [Parent_Task]) VALUES (3, N'ABC')
GO
SET IDENTITY_INSERT [dbo].[ParentTaskTab] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskTab] ON 
GO
INSERT [dbo].[TaskTab] ([Task_ID], [Parent_ID], [Task], [Start_Date], [End_Date], [Priority], [IsClosed]) VALUES (1, 7, N'Task-1', CAST(N'2019-03-11' AS Date), CAST(N'2019-03-25' AS Date), 11, 0)
GO
INSERT [dbo].[TaskTab] ([Task_ID], [Parent_ID], [Task], [Start_Date], [End_Date], [Priority], [IsClosed]) VALUES (2, NULL, N'Task-2', CAST(N'2018-04-01' AS Date), CAST(N'2018-04-30' AS Date), 8, 0)
GO
INSERT [dbo].[TaskTab] ([Task_ID], [Parent_ID], [Task], [Start_Date], [End_Date], [Priority], [IsClosed]) VALUES (4, NULL, N'Task-3', CAST(N'2018-06-01' AS Date), CAST(N'2018-06-14' AS Date), 6, 0)
GO
SET IDENTITY_INSERT [dbo].[TaskTab] OFF
GO
USE [master]
GO
